shamefully-hoist=true
auto-install-peers=true
dedupe-peer-dependents=false
; Allow these packages to run their build scripts
allowedDeprecatedVersions['@humanwhocodes/eslint-plugin-commit-message']='*'
allowedDeprecatedVersions['@humanwhocodes/config-array']='*'
allowedDeprecatedVersions['glob']='*'
; Trusted packages for scripts
onlyBuiltDependencies=@nestjs/core,@prisma/engines,@swc/core,esbuild,prisma,sharp,msgpackr-extract
